/mods/
**/.DS_Store
node_modules

# server
server/_backups
server/_old


# customMods
customMods/SimplySkills-1.20.1/.grade
customMods/SimplySkills-1.20.1/.idea
customMods/SimplySkills-1.20.1/build

# launcher
launcher/minecraft_game*
launcher/jdk*

# other instances
instances/.LAUNCHER_TEMP
instances/All the Mods 9 - ATM9
instances/Better MC*
instances/Prominence*
instances/Vault Hunters 3rd Edition
instances/FDGE-SMP-LITE/
instances/FDGE-SMP_0.1.6

# instance
instances/FDGE-SMP/patches
instances/instgroups.json
instances/FDGE-SMP/.minecraft/.fabric
instances/FDGE-SMP/.minecraft/.mixin.out
instances/FDGE-SMP/.minecraft/logs
instances/FDGE-SMP/.minecraft/not-enough-crashes
instances/FDGE-SMP/.minecraft/saves
instances/FDGE-SMP/.minecraft/screenshots
instances/FDGE-SMP/.minecraft/XaeroWaypoints
instances/FDGE-SMP/.minecraft/XaeroWorldMap
instances/FDGE-SMP/.minecraft/o_prof
instances/FDGE-SMP/.minecraft/usercache.json
instances/FDGE-SMP/.minecraft/usernamecache.json
instances/FDGE-SMP/.minecraft/crash-reports/*
instances/FDGE-SMP/.minecraft/config/voicechat/username-cache.json
instances/FDGE-SMP/.minecraft/emi.json
instances/FDGE-SMP/.minecraft/config/chunky/tasks/*
instances/FDGE-SMP/.minecraft/config/axiom/axiom.hocon
instances/FDGE-SMP_*.zip
instances/FDGE-SMP/.minecraft/emi.json
instances/FDGE-SMP/.minecraft/config/voicechat/voicechat-volumes.properties
instances/FDGE-SMP/.minecraft/deaths.dat
instances/FDGE-SMP/.minecraft/automodpack/modpacks
instances/FDGE-SMP/.minecraft/player_models/*
