/mods/
**/.DS_Store
node_modules

# launcher
launcher/minecraft_game

# other instances
instances/.LAUNCHER_TEMP
instances/All the Mods 9 - ATM9
instances/Better MC*
instances/Prominence*
instances/Vault Hunters 3rd Edition

# instance
instances/FDGE-SMP/patches
instances/FDGE-SMP/instance.cfg
instances/instgroups.json
instances/FDGE-SMP/.minecraft/.fabric
instances/FDGE-SMP/.minecraft/.mixin.out
instances/FDGE-SMP/.minecraft/logs
instances/FDGE-SMP/.minecraft/not-enough-crashes
instances/FDGE-SMP/.minecraft/saves
instances/FDGE-SMP/.minecraft/screenshots
instances/FDGE-SMP/.minecraft/XaeroWaypoints
instances/FDGE-SMP/.minecraft/XaeroWorldMap
instances/FDGE-SMP/.minecraft/o_prof
instances/FDGE-SMP/.minecraft/usercache.json
instances/FDGE-SMP/.minecraft/usernamecache.json
instances/FDGE-SMP/.minecraft/crash-reports/*
instances/FDGE-SMP/.minecraft/config/voicechat/username-cache.json
instances/FDGE-SMP/.minecraft/emi.json
