**/.DS_Store
node_modules

# old
_old

# customMods
customMods/SimplySkills-1.20.1/.grade
customMods/SimplySkills-1.20.1/.idea
customMods/SimplySkills-1.20.1/build

# launcher
launcher/minecraft_game*
launcher/jdk*
launcher/fdge-smp-launcher.exe

# server
server/_backups
server/_old